<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
    <g id="Layer_2" data-name="Layer 2">
        <g id="layer_1-2" data-name="layer 1">
            <path d="M36,42H4a4,4,0,0,1-4-4V10A4,4,0,0,1,4,6H21V8H4a2,2,0,0,0-2,2V38a2,2,0,0,0,2,2H36a2,2,0,0,0,2-2V35h2v3A4,4,0,0,1,36,42Z"/>
            <path d="M44,36H24a4,4,0,0,1-4-4V4a4,4,0,0,1,4-4H44a4,4,0,0,1,4,4V32A4,4,0,0,1,44,36ZM24,2a2,2,0,0,0-2,2V32a2,2,0,0,0,2,2H44a2,2,0,0,0,2-2V4a2,2,0,0,0-2-2Z"/>
            <path d="M27,48H13a1,1,0,0,1-1-1V41a1,1,0,0,1,1-1H27a1,1,0,0,1,1,1v6A1,1,0,0,1,27,48ZM14,46H26V42H14Z"/>
            <rect x="5" y="46" width="30" height="2"/>
            <rect x="33" y="4" width="2" height="2"/>
            <rect x="4" y="10" width="2" height="2"/>
            <rect x="8" y="10" width="2" height="2"/>
            <rect x="12" y="10" width="2" height="2"/>
            <rect x="33" y="30" width="2" height="2"/>
            <rect x="40" y="30" width="2" height="2"/>
            <rect x="26" y="30" width="2" height="2"/>
        </g>
    </g>
</svg>