{{- define "main" -}}
<div id="home-hero">
    <div class="container">
        <div class="row section middle-xs">
            <div class="col-sm-12 col-lg-6">
                <h1>
                    Helping SaaS founders contribute to environmental or social projects — effortlessly
                </h1>
                <div class="signup-form">
                    <form name="beta" method="POST" data-netlify="true">
                        <input type="email" required class="styled" placeholder="Enter your email address" id="beta-email" name="email">
                        <button class="btn btn-md">Get beta access</button>
                    </form>
                    <p>
                        I'll never share your email. Never. You will receive a form to help me understand
                        what you need. I should release the beta in the coming weeks.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 align-right hide-md">
                {{- partial "icons/hero.html" -}}
            </div>
        </div>
    </div>
</div>
<div id="home-steps">
    <div class="container">
        <div class="row section spaced">
            <div class="col-xs-12">
                <h2>Share a part of your revenue</h2>
            </div>
            {{- range .Params.features -}}
            <div class="col-md-3 icons">
                {{- partial (printf "icons/%s.html" .icon) -}}
                <h3>{{- .title -}}</h3>
                <p>{{- .description -}}</p>
            </div>
            {{- end -}}
        </div>
    </div>
</div>
<div id="home-features">
    <div class="container">
        <div class="row section spaced">
            <div class="col-xs-12 align-center">
                <h2>It shouldn't be hard to donate</h2>
                <p class="subtitle">
                    Automatically monitor your sales and contribute to projects you care about,
                    in ways your business can sustain. To prove the concept, the first version
                    of the app automatically plant trees for you. You can plant a number of tree
                    per sales, or dedicate a percentage of your sales to tree planting.
                </p>
                <a href="#home-hero" title="Get beta access" class="btn">
                    Get beta access
                </a>
            </div>
        </div>
    </div>
</div>
{{- end -}}